Flask==2.3.2
RWAPIMicroservicePython==3.0.0
requests==2.31.0
httmock==1.2.6
python-dateutil==2.8.2
mercantile==1.2.1
opencv-python==4.7.0
colour==0.1.1
redis==2.10.6
google-cloud==0.27
numpy==1.23.2
matplotlib==2.1.1
